{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='src/css/sqla.css') }}" rel="stylesheet">
{% endblock css %}

{% block container %}
<div id="sqla-app" class="container">
  
  <header class="jumbotron subhead">
    <h1>SQL Anti/Alchemy</h1>
    <p class="lead">Play with SQL Alchemy, check out examples from SQL Antipatterns.</p>
  </header>
  <section>
    <div class="row">
      <div id="inject-new" class="span7 well">
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group alchemy-stmt">
              <label class="control-label">Alchemy Statement</label>
              <div class="controls">
                <textarea class="input-xlarge span5 alchemy-input" rows="5"></textarea>
              </div>
            </div>
            <div class="control-group sql-stmt">
              <label class="control-label">Compiled SQL</label>
              <div class="controls">
                <span class="input-xlarge span5 uneditable-input sql-input"></span>
              </div>
            </div>
            <div class="control-group query-results">
              <label class="control-label">Query Results</label>
              <div class="controls">
                <span class="span5 sql-input">
                  <pre></pre>
                </span>
              </div>
            </div>
            <div class="form-actions inject-actions">
              <a class="shiny btn-primary btn-large inject-stmt" href="">
                <span class="shine"></span>
                <span class="text">Inject Alchemy Statement</span>
              </a>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="span4 well">
        <p>Schema</p>
      </div>
    </div>
  </section>
</div>
{% endblock container %}

{% block js_templates %}
{% raw %}

<script id="statement-form-template" type="text/html">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group alchemy-stmt">
        <label class="control-label">Alchemy Statement</label>
        <div class="controls">
          <textarea class="input-xlarge span5 alchemy-input" rows="5">{{ alchemy_stmt }}</textarea>
        </div>
      </div>
      <div class="control-group sql-stmt">
        <label class="control-label">Compiled SQL</label>
        <div class="controls">
          <span class="input-xlarge span5 uneditable-input sql-input">
            {{ sql_stmt }}
          </span>
        </div>
      </div>
      <div class="control-group query-results">
        <label class="control-label">Query Results</label>
        <div class="controls">
          <span class="span5 sql-input">
            <pre>{{ results }}</pre>
          </span>
        </div>
      </div>
      <div class="form-actions inject-actions">
        <a class="shiny btn-primary btn-large inject-stmt" href="">
          <span class="shine"></span>
          <span class="text">Inject Alchemy Statement</span>
        </a>
      </div>
    </fieldset>
  </form>
</script>

{% endraw %}
{% endblock js_templates %}

{% block app_js %}
<script type="text/javascript">
  // Boot-strapped data.
  window.statements = {{ statements|safe }};
</script>
<script src="{{ url_for('static', filename='src/js/main.js') }}" type="text/javascript"></script>
{% endblock app_js %}
